<!--Basic Pilot Display Table -->
<table border='1'>
    <thead>
        <tr>
            <!--Set up table headers -->
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Certification</th>
            <th>Current Location</th>
            <th>Consec Hrs Flown</th>
        </tr>
    </thead>

    <tbody>
    <!--Loop threw pilot row by row -->
    <tr *ngFor="let pilot of pilots" 
    (click)="selectPilot(pilot.pltID)" 
    [ngClass]="{'selected-row': selectedPilotID === pilot.pltID}">

        <td>{{pilot.pltID}}</td>
        <td>{{pilot.plt_fname}}</td>
        <td>{{pilot.plt_lname}}</td>
        <td>{{pilot.license}}</td>
        <td>{{pilot.plt_location}}</td>
        <td>{{pilot.consec_hrs_flown}}</td>
    </tr>
</tbody>
</table>

