thead {
    background-color: lightblue; 
    color: black; 
    font-size: 18px;
    font-weight: bold;
  }

  /* Light green background for selected row */
.selected-row {
    background-color: #c8e6c9; 
    cursor: pointer;           
}
  

tbody tr:hover {
   background-color: #f6c9c9; 
}

table {
    margin-left: auto;
    margin-right: 0;
    margin-top: auto;
    border-collapse: collapse;  
    width: 75%; 
}

/* Center the text inside both header and data cells */
th, td {
    padding: 10px;
    text-align: center;  
    border: 1px solid black; 
}