<div class="table-container">
<!--Basic Pilot Display Table -->
<table border='1'>
    <thead>
        <tr>
            <!--Set up table headers -->
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>License</th>
            <th>Current Location</th>
            <th>Consec Hrs Flown</th>
        </tr>
    </thead>

    
        <tbody>
            <!--Loop threw pilot row by row -->
            <tr *ngFor="let pilot of pilots" 
            (click)="selectPilot(pilot.pltID)" 
            [ngClass]="{'selected-row': selectedPilotID === pilot.pltID}">

                <td>{{pilot.pltID}}</td>
                <td>{{pilot.plt_fname}}</td>
                <td>{{pilot.plt_lname}}</td>
                <td>{{pilot.license}}</td>
                <td>{{pilot.plt_location}}</td>
                <td>{{pilot.consec_hrs_flown}}</td>
            </tr>
        </tbody>
    
</table>
</div>
<br>

<div class = "filter-container">
    <!--License Filter-->
    <div class="form-field"> 
        <label for="certification"><b>License: </b> </label>
        <select id="certification" [(ngModel)]="filterLicense" (change)="loadPilots()" name="license">
          <option value="All">All</option>
          <option value="Student">Student</option>
          <option value="Recreational">Recreational</option>
          <option value="Private">Private</option>
          <option value="Commercial">Commercial</option>
          <option value="Airline Transport">Airline Transport</option>
        </select>
      </div>

      <!-- Consec Hrs Filter -->
    <div class="form-field">
        <label for="consecHrsFilter"><b>Consec Hours Flown Less Than: </b> </label>
        <input id="consecHrsFilter" type="number" [(ngModel)]="filterConsecHrs" min="0" (change)="loadPilots()" />
    </div>
    
</div>

<!--Create new pilot to add to table-->
<div class="button-container">
    <a routerLink="/createPilot" class="button">Add Pilot</a>
</div>




