.form-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
  }

  .form-field {
    margin-bottom: 15px; 
  }
  
  /* Styling the form */
  form {
    width: 50%; /* Adjust width as necessary */
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    flex-direction: column;
  }

  form label {
    display: block; /* Make label take full width */
    margin-bottom: 5px;
    font-weight: bold;
  }

  form input,
form select,
form button {
  width: 100%; /* Full width */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding and border in element's total width/height */
}