
<div class="plane">
    <i class="fa fa-plane"></i> 
  </div>

  <div class="plane2">
    <i class="fa fa-plane"></i> 
  </div>


  <div class="plane3">
    <i class="fa fa-plane"></i> 
  </div>


  <div class="plane4">
    <i class="fa fa-plane"></i> 
  </div>

  <div class="plane5">
    <i class="fa fa-plane"></i> 
  </div>

  <div class="plane6">
    <i class="fa fa-plane"></i> 
  </div>
  
  <div class="plane7">
    <i class="fa fa-plane"></i> 
  </div>
  
  <div class="plane8">
    <i class="fa fa-plane"></i> 
  </div>
  
  <div class="plane9">
    <i class="fa fa-plane"></i> 
  </div>
  
  <div class="plane10">
    <i class="fa fa-plane"></i> 
  </div>

