<!-- Update Plane Form -->

<!-- <pre>{{ plane | json }}</pre>  debug -->
<div class="form-container">
    <form #planeForm="ngForm" (ngSubmit)="updatePlane()">
      <div *ngIf="plane">
        <!-- Plane ID, int (CAN'T CHANGE) -->
        <div class="form-field"> 
        <label for="planeID">ID:</label>
        <input type="text" id="planeID" [(ngModel)]="plane.planeID" name="planeID" disabled />
        </div>
    
        <!-- Plane model, choose from preset options -->
        <div class="form-field"> 
        <label for="modelID">License:</label>
        <select id="modelID" [(ngModel)]="plane.modelID" name="modelID" required>
          <option value="1">1 - Rust Bucket 687</option>
          <option value="2">2 - Model 10A</option>
          <option value="3">3 - Model 20B</option>
        </select>
        </div>
    
        <!-- Consecutive Hours Flown, make sure number and has min value 0 -->
        <div class="form-field"> 
        <label for="hrs_flown">Hours Flown:</label>
        <input type="number" id="hrs_flown" [(ngModel)]="plane.hrs_flown" name="hrs_flown" min="0" required/>
        </div>
    
        <div class="form-actions">
            <!-- Update Button -->
            <button type="submit" [disabled]="!plane.planeID || !planeForm.valid">Update</button>
    
            <!-- Delete Button -->
            <button type="button" [disabled]="!plane.planeID" (click)="deletePlane()">Delete</button>
          </div>
      </div>
    </form>
    
    </div>