ul {
    margin: 30px auto;
    padding: 0;
    overflow: hidden;
    background: rgb(255, 123, 123);
    border-radius: 40px;
    width: 80%;
    list-style-type: none;
    text-align: center;
}
li {
    display: inline-block;
}
a {
    text-decoration: none;
    padding: 10px 25px;
    display: block;
    color: black;
    font-weight: bold;
}
li:hover {
    background: rgb(254, 167, 167);
}